@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #f5f0f0;
  font-family: 'Roboto', sans-serif;
  padding: 1em 2em 2em 2em;
}

nav {
  height: 100px;
  padding: .5em;
}

#logo {
  width: 10%;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #c0392b;
  font-size: .75em;
  text-align: center;
  font-weight: 600;
}

#logo img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-15deg);
}

#nav-bar {
  margin-right: 1em;
  width: 70%;
  float: left;
  font-size:  1.5em;
  line-height: 1.5em;
  color: black;
}

#nav-bar a {
  text-decoration: none;
  color: black;
}

#nav-bar a:hover {
  text-decoration: underline;
}

.hero-image {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-201d56/master/class-09/lab-b/assets/family.jpg");
  height: 600px;
  max-width: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-image div {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-60%, -60%);
  color: #c0392b;
}

.hero-image h1, .hero-image strong {
  position: relative;
  top: 5.15em;
}

#merch {
  margin-top: 2.5em;
}

#merch div {
  width: 31.18%;;
  float: left;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#merch div:nth-child(1){
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-201d56/master/class-09/lab-b/assets/shirt.jpg");
}

#merch div:nth-child(2) {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-201d56/master/class-09/lab-b/assets/cutter.jpeg");
  margin-left: 3%;
  margin-right: 3%;
}

#merch div:nth-child(3) {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-201d56/master/class-09/lab-b/assets/fish.jpg");
}

/* sales.html */
#sales-info {
  margin-top: 1.5em;
}

table {
  margin-top: 2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  font-size: 1em;
}

th, td {
  text-align: center;
}

table tr:last-child, table tr:first-child {
  background-color: #b1a5a5;
}

form {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #c0392b;
}

form h2 {
  text-align: center;
}

form fieldset {
  border-style: none;
}

input[type=number], input[type=text] {
  display: block;
  margin: auto;
  width: 80%; 
  border: 1px solid #818181;
  font-size: 1em;
  padding: 1em;
}

button {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  background-color: #b1a5a5;
  border-style: none;
  width: 30%;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #c0b1b1;
  border: #b1a5a5 1px;
}